body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 411px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 411px) {
  .container {
    max-width: 1150px;
  }
}

/* #region header */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: auto;
}

.header-nav-list,
.header-btn-list {
  display: none;
}

.burger-btn {
  padding: 0;
  background-color: transparent;
  border: none;
}
.burger-icon {
  display: block;
  fill: 3px solid #173a56;
}

@media screen and (min-width: 412px) {
  .header-nav {
    margin-right: auto;
  }
  .header-nav-list {
    display: flex;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 30px;
  }
  .header-nav-link {
    line-height: 1.75;
    color: #22343d;
    padding: 26px;
    display: block;
  }
  .current {
    font-weight: 600;
  }
  .header-btn-list {
    display: flex;
    gap: 21px;
  }
  .header-btn {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    min-width: 105px;
    height: 42px;
    font-family: inherit;
    font-weight: 600;
    text-align: center;
    color: #173a56;
    background-color: transparent;
  }
  .header-btn:hover,
  .header-btn:focus {
    color: #fff;
    background-color: #02897a;
    border: none;
  }
  .burger-btn {
    display: none;
  }
}
